@import './variables';

// ------------ Primary ------------ //
//background, border, hover-background, hover-border, active-background, active-border

.btn-primary {
  @include button-variant(
                  $violet-icon,
                  darken($violet-icon, 7.5%),
                  darken($violet-icon, 5%),
                  lighten($violet-icon, 5%),
                  lighten($violet-icon, 10%),
                  darken($violet-icon, 10%));
}

//color, color-hover, active-background, active-border
.btn-outline-primary {
  @include button-outline-variant($violet-icon, white, $violet-icon, $violet-icon);
}

// ------------ Warning ------------ //
//background, border, hover-background, hover-border, active-background, active-border

.btn-warning {
  @include button-variant(
                  $yellow-HB,
                  darken($yellow-HB, 7.5%),
                  darken($yellow-HB, 10%),
                  lighten($yellow-HB, 5%),
                  lighten($yellow-HB, 10%),
                  darken($yellow-HB, 10%));
}

//color, color-hover, active-background, active-border
.btn-outline-warning {
  @include button-outline-variant($yellow-HB, #212529, $yellow-HB, darken($yellow-HB, 7.5%));
  color: #212529;
}
