// Color

$yellow-HB: #fed71d;

$violet-light: #525f7f;
$violet-icon: #5e72e4;
$violet-dark: #32325d;

$white-background: #f8f9fe;

$red-error: #dc3545;
$red-icon: #fb6340;

$grey-light: #919191;
$grey-dark: #2f2f2f;

$green-icon: #2dce89;

$blue-icon: #11cdef;

// Size for media

$media-phone-maxWidth: 480px;
$media-tablet-maxWidth: 768px;
$media-tabletPro-maxWidth: 1024px;
