@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';
@import './variables';
@import './buttons';

body {
  font-family: 'Open Sans', sans-serif;
  font-size: .9rem;
  background-color: $white-background;
}

.text-error {
  color: $red-error;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: inherit;
  font-weight: 600;
  line-height: 1.5;
  color: $grey-dark;
}

h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.3rem;
}

h3 {
  font-size: 1.0625rem;
}

h4 {
  font-size: .94rem;
}

h5 {
  font-size: .8125rem;
}

h6 {
  font-size: .625rem;
}

.container, .container-fluid {
  padding: 0;
}

.row {
  padding: .75rem 0;
  margin: 0;

  &:first-child {
    padding-top: 0 !important;
  }

  &:last-child {
    padding-bottom: 0 !important;
  }
}

[class*="col-"] {
  padding: 0 .75rem;

  &:first-child {
    padding-left: 0 !important;
  }

  &:last-child {
    padding-right: 0 !important;
  }
}
