<template>

  <ValidationObserver ref="observer" v-slot="{ handleSubmit }">
    <b-form @submit.prevent="handleSubmit(onSubmit)">

      <p class="my-2 text-error">{{ unknownError }}</p>

      <validation-text-input
          rules="required|alpha_spaces"
          type="text"
          label="Rechercher par nom"
          name="searchByName"
          v-model="searchByName"
          placeholder="Rechercher par nom"
      >
      </validation-text-input>

      <button-submit size="sm" type="primary">Rechercher</button-submit>

    </b-form>
  </ValidationObserver>

</template>

<script>
import ValidationTextInput from "../validations/ValidationTextInput";
import ButtonSubmit from "../buttons/ButtonSubmit";
export default {
  name: "FormSearchCandidate",
  components: {ButtonSubmit, ValidationTextInput},
  data: () => ({
    searchByName: '',
    unknownError: null
  }),
  methods: {
    onSubmit() {

    },
  }
}
</script>

<style scoped>

</style>
