<template>

  <ValidationObserver ref="observer" v-slot="{ handleSubmit }">
    <b-form @submit.prevent="handleSubmit(onSubmit)">

      <p class="my-2 text-error">{{ unknownError }}</p>

      <validation-text-input
          rules="required|email"
          type="email"
          label="Adresse e-mail"
          name="Email"
          v-model="email"
          placeholder="Adresse e-mail"
      >
      </validation-text-input>

      <div class="d-flex">
        <validation-text-input
            rules="required|alpha_spaces"
            type="text"
            label="Prénom"
            name="firstname"
            v-model="firstname"
            placeholder="Prénom"
            class="w-50 mr-2"
        >
        </validation-text-input>

        <validation-text-input
            rules="required|alpha_spaces"
            type="text"
            label="Nom"
            name="lastname"
            v-model="lastname"
            placeholder="Nom"
            class="w-50 ml-2"
        >
        </validation-text-input>
      </div>

      <validation-text-input
          rules="required|alpha_num|min:7|max:7"
          type="text"
          label="Numéro Pole Emploi"
          name="poleEmploiNumber"
          v-model="poleEmploiNumber"
          placeholder="Numéro Pole Emploi"
      >
      </validation-text-input>

      <button-submit size="sm" type="primary">Valider</button-submit>

    </b-form>
  </ValidationObserver>

</template>

<script>
  import ValidationTextInput from "../validations/ValidationTextInput";
  import ButtonSubmit from "../buttons/ButtonSubmit";

  export default {
    name: "FormAddCandidate",
      components: {ButtonSubmit, ValidationTextInput},
      data: () => ({
        firstname: '',
        lastname: '',
        poleEmploiNumber: '',
        email: '',
        unknownError: null
      }),
      methods: {
        onSubmit() {

        },
      }
  }
</script>
