<template>

  <b-button
      type="button"
      :to="route"
      @click="handleClick"
      :size="size"
      :variant="!outline ? type : `outline-${type}`"
      :block="block"
      :class="[
        { 'text-uppercase': uppercase },
      ]"
  >
    <slot></slot>
  </b-button>

</template>

<script>
  export default {
    name: "ButtonLink",
    props: {
      size: {
        type: String,
        default: '',
        description: 'Button size (sm|lg)'
      },
      outline: {
        type: Boolean,
        description: 'Whether button is outlined (only border has color)'
      },
      type: {
        type: String,
        default: 'default',
        description: 'Button type (primary|secondary|danger etc)'
      },
      route: {
        type: Object || String,
        description: 'Route to go'
      },
      block: Boolean,
      uppercase: Boolean,
    },
    methods: {
      handleClick(evt) {
        this.$emit('click', evt);
      }
    }
  }
</script>
