<template>

  <b-card>
    <b-card-header>
      <template v-if="cardWithLogo">
        <h2>{{ headerTitle }}</h2>
        <img src="@/assets/img/logo.png" alt="logo">
      </template>

      <template v-if="simpleCard">
        <h3>{{ headerTitle }}</h3>
      </template>

    </b-card-header>

    <b-card-body>
      <slot name="cardBody"></slot>
    </b-card-body>
  </b-card>

</template>

<script>
  export default {
    name: "CardBase",
    props: {
      headerTitle: {
        type: String,
        default: '',
        description: 'Title of the card'
      },
      cardWithLogo: Boolean,
      simpleCard: Boolean
    }
  }
</script>

<style lang="scss">
  .card{
    margin-left: .75rem;
    margin-right: .75rem;
    box-shadow: 0 0 2rem 0 rgba(136,152,170,.15);
    border-radius: .4rem !important;
    &:first-child{
      @extend .ml-0;
    }
    &:last-child{
      @extend .mr-0;
    }
  }
  .card-header{
    @extend .bg-white, .d-flex, .justify-content-between, .px-0, .pb-3, .pt-0;
    @media (max-width: $media-phone-maxWidth){
      flex-direction: column-reverse;
    }
    h2{
      @extend .pr-3;
    }
  }
  .card-body{
    .card-body{
      @extend .p-0, .pt-2;
    }
    img{
      background-size: cover;
      object-fit: contain;
      max-width: 40%;
      max-height: 2rem;
      @media (max-width: $media-phone-maxWidth){
        margin-bottom: 1rem;
        max-width: 13rem;
      }
    }
  }
</style>
