<template>

  <card-base id="errorView" headerTitle="Page introuvable" card-with-logo>

    <template v-slot:cardBody>
      <p>Oups, une erreur est survenue, la page demandée n'a pas été trouvée !</p>

      <button-link
          v-if="$store.getters.isLoggedIn"
          :route="{ name: 'DashboardView' }"
          type="secondary"
          size="sm"
      >Page d'accueil
      </button-link>

      <button-link
          v-else
          :route="{ name: 'LoginView' }"
          type="secondary"
          size="sm"
      >Page d'accueil
      </button-link>

    </template>

  </card-base>

</template>

<script>
  import CardBase from "@/components/cards/CardBase";
  import ButtonLink from "@/components/buttons/ButtonLink";

  export default {
    name: "ErrorView",
    components: {ButtonLink, CardBase},
  }
</script>

<style lang="scss" scoped>
  #errorView{
    @extend .mx-auto;
    margin-top: 5%;
    width: 40%;
    @media (min-width: $media-phone-maxWidth) and (max-width: $media-tabletPro-maxWidth){
      width: 80%;
    }
    @media (max-width: $media-phone-maxWidth){
      width: 95%;
    }
  }
</style>
