<template>

  <card-base id="loginView" headerTitle="Connexion" card-with-logo>

    <template v-slot:cardBody>
      <ValidationObserver ref="observer" v-slot="{ handleSubmit }">
        <b-form @submit.prevent="handleSubmit(onSubmit)">

          <p class="my-2 text-error">{{ invalidLogin }}</p>

          <validation-text-input
              rules="required|email"
              type="email"
              label="Adresse e-mail"
              name="Email"
              v-model="email"
              placeholder="Adresse e-mail"
          >
          </validation-text-input>

          <validation-text-input
              rules="required-password"
              type="password"
              label="Mot de passe"
              name="Password"
              v-model="password"
              placeholder="Mot de passe"
          >
          </validation-text-input>

          <button-submit size="lg" block uppercase type="outline-warning">Me connecter</button-submit>

        </b-form>
      </ValidationObserver>
    </template>

  </card-base>

</template>

<script>
  import ValidationTextInput from "@/components/validations/ValidationTextInput";
  import CardBase from "@/components/cards/CardBase";
  import ButtonSubmit from "@/components/buttons/ButtonSubmit";
  import {login} from "@/services/auth-service";

  export default {
    name: "LoginView",
      components: {ButtonSubmit, CardBase, ValidationTextInput},
      data: () => ({
      email: "",
      password: "",
      invalidLogin: null
    }),
    methods: {
      onSubmit() {
        this.invalidLogin = login(this.email, this.password);
      },
    }
  }
</script>

<style lang="scss" scoped>
  #loginView{
    @extend .mx-auto;
    margin-top: 5%;
    width: 40%;
    @media (min-width: $media-phone-maxWidth) and (max-width: $media-tabletPro-maxWidth){
      width: 80%;
    }
    @media (max-width: $media-phone-maxWidth){
      width: 95%;
    }
  }
</style>

