<template>

    <div id="chiefFormation">
      <h2>Gestion des formations</h2>

      <b-container fluid>
        <b-row>
          <b-col cols="6">
            <card-base header-title="Ajouter une session" simple-card>

            </card-base>
          </b-col>
          <b-col cols="6">
            <card-base header-title="Ajouter une formation" simple-card>

            </card-base>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="8">
            <card-base header-title="Rechercher une session" simple-card>

            </card-base>
          </b-col>
          <b-col cols="4">
            <card-base header-title="Dernières sessions ajoutées" simple-card>

            </card-base>
          </b-col>
        </b-row>
      </b-container>

    </div>

</template>

<script>
import axios from "axios";
import CardBase from "../../components/cards/CardBase";

export default {
  name: "ChiefFormationView",
  components: {CardBase},
  data(){
    return {
      formations: [],
      addSessionFormationId : null,
      addSessionCity: null,
      addSessionMaxStudents : null,
      errors: [],
      response: null
    }
  },
  beforeCreate() {
    axios.get(`http://127.0.0.1:8090/api/formations`)
        .then(response => {
          this.formations = response.data.content;
        })
  },
  methods: {
    checkForm() {
      if (this.addSessionFormationId == null) {
        return this.errors.push("Veuillez sélectionner une formation.")
      }
      axios.post(`http://127.0.0.1:8090/api/formations/${this.addSessionFormationId}/sessions`, {
        "city": this.addSessionCity,
        "maxStudents": this.addSessionMaxStudents
      })
          .then(response => {
            if (response.data.general.code === "201" && response.data.content[0].id != null) {
              this.response = `La session ${response.data.content[0].number} de ${this.formations[this.addSessionFormationId-1].name} a bien été créée`
            }
          })
          .catch(error => {
            console.log(error)
          })
    }
  }
}
</script>

<style lang="scss" scoped>
  .card{
    width: 100%;
  }
</style>
