<template>

  <div id="chiefCandidate">
    <h2>Gestion des candidats</h2>
    <div class="d-flex justify-content-between">

      <card-base header-title="Rechercher un candidat" simple-card>
        <template v-slot:cardBody>
          <form-search-candidate></form-search-candidate>
        </template>
      </card-base>

      <card-base header-title="Ajouter un candidat" simple-card>
        <template v-slot:cardBody>
          <form-add-candidate></form-add-candidate>
        </template>
      </card-base>

    </div>
  </div>

</template>

<script>
  import CardBase from "@/components/cards/CardBase";
  import FormAddCandidate from "../../components/form/FormAddCandidate";
  import FormSearchCandidate from "../../components/form/FormSearchCandidate";

  export default {
  name: "ChiefCandidateView",
    components: {FormSearchCandidate, FormAddCandidate, CardBase},
  }
</script>

<style lang="scss" scoped>
  .card{
    width: 100%;
  }
</style>
