<template>

  <nav id="navbarTop">
      <div>
        <p class="m-0"></p>
      </div>

      <profile></profile>
  </nav>

</template>

<script>
import Profile from "@/components/navbars/Profil";
export default {
name: "NavbarTop",
  components: {Profile}
}
</script>

<style lang="scss" scoped>
  #navbarTop{
    @extend .d-flex, .justify-content-between;
    border-bottom: 1px solid #e9ecef;
  }
</style>
