<template>

  <div>
    <div id="myProfile">
      <b-avatar size="2rem" variant="secondary"></b-avatar>
      <p>{{ getUserName }}</p>
    </div>

    <b-popover target="myProfile" triggers="hover" placement="bottomleft">
      <b-dropdown-item-button>
        <b-icon icon="person-fill" aria-hidden="true"></b-icon>
        Mon profil
      </b-dropdown-item-button>
      <b-dropdown-item-button>
        <b-icon icon="gear" aria-hidden="true"></b-icon>
        Paramètres
      </b-dropdown-item-button>
      <b-dropdown-divider></b-dropdown-divider>
      <b-dropdown-item-button @click="logout">
        <b-icon icon="box-arrow-right" aria-hidden="true"></b-icon>
        Déconnexion
      </b-dropdown-item-button>
    </b-popover>
  </div>

</template>

<script>
  import { mapGetters } from 'vuex'
  import {logout} from "@/services/auth-service";

  export default {
    name: "Profile",
    computed: {
      ...mapGetters(["getUserName"])
    },
    methods: {
      logout
    }
  }
</script>

<style lang="scss">
  #myProfile{
    @extend .d-flex;
    color: $violet-light;
    &:hover{
      cursor: pointer;
      color: #5e72e4;
    }
    p{
      @extend .my-auto, .ml-2;
      font-weight: 600;
    }
  }
  .popover.b-popover{
    border: 0;
    box-shadow: 0 0 1rem 0 rgba(136,152,170,.5);
    .arrow{
      display: none;
    }
  }
  .popover-body{
    @extend .px-0, .py-2;
    width: 12rem;
    li{
      list-style: none;
      button{
        @extend .py-2;
        &:focus{
          outline: none;
        }
        &:active{
          background-color: initial;
          color: initial;
        }
        svg{
          @extend .mr-2;
        }
      }
    }
  }
</style>
