<template>

  <nav id="sidebar">
    <div class="navbar-logo">
      <img src="../../assets/img/logo.png" alt="logo">
    </div>

    <ul>
      <sidebar-item :route="{ name: 'DashboardView' }" text="Dashboard" icon="grid1x2" icon-color="#5e72e4"></sidebar-item>
      <template v-if="$store.getters.getUserRole === chief">
        <sidebar-item :route="{ name: 'ChiefCandidateView' }" text="Candidat" icon="person" icon-color="#fb6340"></sidebar-item>
        <sidebar-item :route="{ name: 'ChiefFormationView' }" text="Formation" icon="journal-bookmark" icon-color="#2dce89"></sidebar-item>
        <sidebar-item :route="{ name: 'ChiefTestView' }" text="Test technique" icon="pen" icon-color="#11cdef"></sidebar-item>
      </template>

      <template v-else-if="$store.getters.getUserRole === candidate">

      </template>

      <hr>

      <h5 class="navbar-title">Documentation</h5>
      <SidebarItem route="#" text="À propos" icon="file-earmark-text" icon-color="rgba(0,0,0,.6)"></SidebarItem>
      <SidebarItem route="#" text="Aide" icon="question-circle" icon-color="rgba(0,0,0,.6)"></SidebarItem>
    </ul>

  </nav>

</template>

<script>
  import SidebarItem from "@/components/navbars/SidebarItem";
  import {Constants} from '@/services/constant-service'

  export default {
  name: "sidebar",
    components: {SidebarItem},
    data: () => ({
      chief: Constants.CHIEF,
      candidate: Constants.CANDIDATE,
    }),
  }
</script>

<style lang="scss" scoped>
  #sidebar{
    @extend .d-flex, .flex-column, .p-2, .bg-white;
    border: 1px solid rgba(0, 0, 0, 0.125);
    box-shadow: 0 0 2rem 0 rgba(136,152,170,.15);
    min-height: 100vh;
    flex: 1;
    z-index: 999;
    ul{
      @extend .p-0;
      hr{
        margin: .2rem .7rem .7rem;
      }
    }
  }
  .navbar-logo{
    @extend .p-2, .my-3, .mx-auto;
    img{
      background-size: cover;
      object-fit: cover;
      max-width: 11rem;
    }
  }
  .navbar-title{
    @extend .text-uppercase, .font-weight-bold;
    color: #8898aa;
    padding: .7rem;
    font-size: .75rem;
    letter-spacing: .04em;
  }
</style>
