<template>

  <li>
    <b-icon :icon="icon" font-scale="1.2" :style="{ color: iconColor }"></b-icon>
    <router-link :to="route">{{ text }}</router-link>
  </li>

</template>

<script>
  export default {
    name: "SidebarItem",
    props: {
      route: {
        type: Object || String,
        default: '/',
        description: 'Route to go'
      },
      text: String,
      icon: String,
      iconColor: String
    },
  }
</script>

<style lang="scss" scoped>
  li{
    @extend .mb-2, .d-inline-flex, .w-100;
    list-style: none;
    border-radius: .4rem;
    padding: .7rem;
    &:hover{
      background: #f6f9fc;
      cursor: pointer;
    }
    a{
      padding-left: .8rem;
      width: 100%;
      color: #383838;
      &:hover{
        text-decoration: none;
        color: #525252;
      }
    }
    svg{
      @extend .my-auto;
      height: 100%;
    }
  }
</style>
