<template>

  <component :is="dashboardComponent"></component>

</template>

<script>
  import ChiefDashboard from '@/views/chief/ChiefDashboardView'
  import CandidateDashboard from '@/views/candidate/CandidateDashboardView'
  import store from "@/store"
  import Layout from "@/views/components/Layout";

  const RoleDashboardMapping = {
    chief: ChiefDashboard,
    candidate: CandidateDashboard
  }

  export default {
    name: "Dashboard",
    components: {Layout},
    data: () => ({
      dashboardComponent: RoleDashboardMapping[store.getters.getUserRole]
    })
}
</script>

<style scoped>

</style>
