<template>

  <div id="layout">
    <sidebar></sidebar>
    <main id="main">
      <navbar-top></navbar-top>
      <div id="content">
        <router-view></router-view>
      </div>
    </main>
  </div>

</template>

<script>
  import Sidebar from "@/components/navbars/Sidebar";
  import NavbarTop from "@/components/navbars/NavbarTop";

  export default {
    name: "Layout",
    components: {NavbarTop, Sidebar},
    props: {
      titleOfContent: String
    }
  }
</script>

<style lang="scss">
  #layout{
    @extend .d-flex, .flex-row, .flex-nowrap;
  }
  #main{
    width: 82%;
    nav{
      @extend .py-3, .px-4;
    }
  }
  #content{
    @extend .p-4;
    h2{
      @extend .pb-4;
    }
    h1, h2, h3, h4, h5, h6 {
      color: $violet-dark;
    }
  }
</style>
